{% extends "tinbox/global/base.html" %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'tinbox/index/index_css.css' %}" />
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Navbar example</h1>
  <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
  </p>
</div>

{% block content %}
<div id="header_row" class="row">
  <h1>Tinbox Solutions, Inc.</h1>
  <h2>Print services landing page</h2>
</div>
{% endblock %}
