<div id="index-nav">
  <div class="content_row">
      <h1>Tinbox Marketing Solutions, Inc.</h1>
      <ul class="nav">
        <li><a href="http://tinboxsolutions.com/">home</a></li>
        <li><a href="http://tinboxsolutions.com/category/featured-post/">what's new?</a></li>
        <li><a href="http://tinboxsolutions.com/about-3/">about TINbox &raquo;</a></li>
        <li><a href="http://tinboxsolutions.com/portfolio/">portfolio &raquo;</a></li>
        <li><a href="http://tinboxsolutions.com/client_list/">clients &raquo;</a></li>
        <li><a href="/">print services &raquo;</a></li>
        <li><a href="{% url 'shopping-cart-show' %}">shopping cart &raquo;</a></li>
      </ul>
    </div>
</div>
